<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">
    <div class="az-content-left az-content-left-components">
      <div class="component-item">
        <label>UI Elements</label>
        <nav class="nav flex-column">
          <a href="elem-buttons.html" class="nav-link">Buttons</a>
          <a href="elem-dropdown.html" class="nav-link">Dropdown</a>
          <a href="elem-icons.html" class="nav-link">Icons</a>
        </nav>

        <label>Forms</label>
        <nav class="nav flex-column">
          <a href="form-elements.html" class="nav-link">Form Elements</a>
        </nav>

        <label>Charts</label>
        <nav class="nav flex-column">
          <a href="chart-chartjs.html" class="nav-link active">ChartJS</a>
        </nav>

        <label>Tables</label>
        <nav class="nav flex-column">
          <a href="table-basic.html" class="nav-link">Basic Tables</a>
        </nav>
      </div><!-- component-item -->

    </div><!-- az-content-left -->
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Components</span>
        <span>Charts</span>
        <span>ChartJS Charts</span>
      </div>
      <h2 class="az-content-title">ChartJS Charts</h2>

      <div class="az-content-label mg-b-5">Bar Chart</div>
      <p class="mg-b-20">Below is the basic bar chart example.</p>

      <div class="row row-sm">
        <div class="col-sm-8 col-md-6 col-xl-4">
          <div class="az-content-label az-content-label-sm mg-b-15">Solid Color</div>
          <div class="ht-200 ht-lg-250"><canvas id="chartBar1"></canvas></div>
        </div><!-- col-6 -->
        <div class="col-sm-8 col-md-6 col-xl-4 mg-t-20 mg-md-t-0">
          <div class="az-content-label az-content-label-sm mg-b-15">With Transparency</div>
          <div class="ht-200 ht-lg-250"><canvas id="chartBar2"></canvas></div>
        </div><!-- col-6 -->
        <div class="col-sm-8 col-md-6 col-xl-4 mg-t-20 mg-xl-t-0">
          <div class="az-content-label az-content-label-sm mg-b-15">Using Gradient Color</div>
          <div class="ht-200 ht-lg-250"><canvas id="chartBar3"></canvas></div>
        </div><!-- col-6 -->
      </div><!-- row -->

      <hr class="mg-y-30">

      <div class="az-content-label mg-b-5">Horizontal Bar Chart</div>
      <p class="mg-b-20">Below is the horizontal bar chart example.</p>

      <div class="row row-sm">
        <div class="col-sm-8 col-md-6">
          <div class="chartjs-wrapper-demo"><canvas id="chartBar4"></canvas></div>
        </div><!-- col-6 -->
        <div class="col-sm-8 col-md-6 mg-t-20 mg-md-t-0">
          <div class="chartjs-wrapper-demo"><canvas id="chartBar5"></canvas></div>
        </div><!-- col-6 -->
      </div><!-- row -->

      <hr class="mg-y-30">
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->