<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">
    <div class="az-content-left az-content-left-components">
      <div class="component-item">
        <label>Calendar options</label>
        <nav class="nav flex-column">
          <a (click)="addEvent()" class="nav-link">Add event</a>
          <a class="nav-link">Show paid events</a>
          <a class="nav-link">TBD</a>
        </nav>

      </div><!-- component-item -->

    </div><!-- az-content-left -->
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <!--<span>Calendar</span>-->
      </div>
      
      <full-calendar 
        [options]="calendarOptions"
        deepChangeDetection="true">
      </full-calendar>



      <hr class="mg-y-30">
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->