<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">
    <div class="az-content-left az-content-left-components">
      <div class="component-item">
        <label>UI Elements</label>
        <nav class="nav flex-column">
          <a href="elem-buttons.html" class="nav-link">Buttons</a>
          <a href="elem-dropdown.html" class="nav-link">Dropdown</a>
          <a href="elem-icons.html" class="nav-link">Icons</a>
        </nav>

        <label>Forms</label>
        <nav class="nav flex-column">
          <a href="form-elements.html" class="nav-link">Form Elements</a>
        </nav>

        <label>Charts</label>
        <nav class="nav flex-column">
          <a href="chart-chartjs.html" class="nav-link active">ChartJS</a>
        </nav>

        <label>Tables</label>
        <nav class="nav flex-column">
          <a href="table-basic.html" class="nav-link">Basic Tables</a>
        </nav>
      </div><!-- component-item -->

    </div><!-- az-content-left -->
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Calendar</span>
      </div>
      
      <full-calendar [options]="calendarOptions"></full-calendar>



      <hr class="mg-y-30">
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->